#root {
  margin: 0 auto;
  padding: 1rem;
}

.saira-semi-condensed-thin {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-semi-condensed-extralight {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-semi-condensed-light {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-semi-condensed-regular {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-semi-condensed-medium {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-semi-condensed-semibold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-semi-condensed-bold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.saira-semi-condensed-extrabold {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-semi-condensed-black {
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@keyframes border-animation {
  0% {
    border-color: #b8ffa5;
  }
  50% {
    border-color: #418f2c;
  }
  100% {
    border-color: #b8ffa5;
  }
}

.animated-border-chip {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.animated-border-chip::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 1px solid;
  border-color: #b8ffa5;
  animation: border-animation 3s infinite;
  z-index: 1;
  box-sizing: border-box;
}

.animated-border-chip .MuiChip-root {
  position: relative;
  z-index: 2;
}

.hover-effect {
  transition: background-color 0.3s, color 0.3s;
}
.hover-effect .icon {
  transition: color 0.3s;
}
.hover-effect:hover {
  background-color:#1b1b35!important;
  color: white!important;
}
.hover-effect:hover .icon{
  color: white!important;
}

.hover-effect:hover .MuiChip-icon {
  color: white; 
}



.presentacion{
  text-align: start;
}
.presentacion-top{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.experiencia-laboral{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
 position: relative;
 transform: translate(-50%, 0%);
 width:700px;
}
.container-exp{
  margin-bottom: 30px;
}
.enlaces-proyecto Button{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.footer a{
margin-right: 10px;
text-decoration: none;
color: rgb(75 85 99);
}
.footer a:hover {
  text-decoration: underline;
  color: rgb(20, 85, 99);
  font-weight: bold;
}
.navbar{
  text-decoration: none;
  color: rgb(75 85 99);
}
.navbar:hover,
.navbar:focus,
.navbar:active {
  color: rgb(59, 93, 247);
}
.scroll{
  padding: 5px;
    padding-right:20px;
    padding-left:20px;
     background-color: white;
      border-radius:20px;
       color: rgb(75 85 99);

       transition: background-color 0.3s ease;
}
.fixed{
  border-radius:20px;
  padding: 5px;
  padding-right:20px;
  padding-left:20px;
  position: fixed;
  background-color: #f0f0f081;
  top: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
@media (min-width: 1000px) and (max-width: 1599px) {
  
  #root {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 1rem;
    font-size: 1.3rem;
  }
  .navbar{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .experiencia-laboral{
   transform: translate(-50%, 0%);
   width:1400px;
  }
  .texto-exp{
    margin-left: 30%;
    margin-top: -70px!important;  
  }
  .dominos-barra-exp{
    margin-top: -20px!important;
  }
  .dominos-dot-exp{
    margin-top: -20px!important;
  }
  .mercadona-barra-exp{
    margin-top: 0px!important;
  }
  .mercadona-dot-exp{
    margin-top: 0px!important;
  }
  .developer-barra-exp{
    margin-top: 0px!important;
  }
  .developer-dot-exp{
    margin-top: 0px!important;
  }
  .intro{
    max-width: 570px;
  }
  .presentacion{
    margin-top: 80px;
  }
  .img-proyecto{
    width: 550px!important;
    height: 400px;
  }
  .contenido-proyecto-reixel{
    display: flex;
    flex-direction: row;
    width: 104%;
    margin-bottom: -40px!important;
  }
  .contenido-proyecto-anime{
    display: flex;
    flex-direction: row;
    width: 104%;
    margin-bottom: -40px!important;
  }
  .contenido-proyecto-minijuego{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    width: 104%;
    margin-bottom: -40px!important;
  }
  .titulos-proyectos{
    position: relative;
    transform: translate(0%, 30%);
    padding-bottom: 30px;
  }
  .etiquetas-proyecto{
    width: 450px;
    position: relative;
    transform: translate(-125%, 540%);
  }
  .etiquetas-proyecto-anime{
    width: 450px;
    position: relative;
    transform: translate(-125%, 540%);
  }
  .etiquetas-proyecto-minijuego{
    width: 450px;
    position: relative;
    transform: translate(-125%, 540%);
  }
  .texto-proyectos{
    height: 450px;
    position: relative;
    transform: translate(0%, -20%);
  }
  .enlaces-proyecto-reixel{
    position: relative;
    transform: translate(50%, -450%);
  }
  .enlaces-proyecto-anime{
    position: relative;
    transform: translate(50%, -90%);
  }
  .enlaces-proyecto-minijuego{
    position: relative;
    transform: translate(50%, -630%);
  }
  .todo-menos-foto{
    margin-left: 20px;
  }
  .foto-sobre-mi img{
    margin-top: 20px!important;
    margin-left: 30px;
    width: 350px!important; 
  }
  .contenido-sobre-mi{
    display: flex;
    flex-direction: row-reverse;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
@media (min-width: 1601px) {
  
  #root {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    padding: 1rem;
    font-size: 1.3rem;
  }
  .experiencia-laboral{
  margin-left: 400px;
   width:1100px;
  }
  .navbar{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .experiencia-laboral{
    transform: translate(-66%, 0%);
    width:1600px;
   }
   .texto-exp{
     margin-left: 30%;
     margin-top: -70px!important;  
   }
   .dominos-barra-exp{
     margin-top: -200px!important;
   }
   .dominos-dot-exp{
     margin-top: -170px!important;
   }
   .mercadona-barra-exp{
     margin-top: -30px!important;
   }
   .mercadona-dot-exp{
     margin-top: 0px!important;
   }
   .developer-barra-exp{
     margin-top: 100px!important;
   }
   .developer-dot-exp{
     margin-top: 130px!important;
   }
   .titulo-exp{
    position: relative;
    transform: translate(50%, 140%);
   }
   .chip-exp{
    position: relative;
    transform: translate(200%, 390%);
   }
   .intro{
    max-width: 600px;
   }
   .presentacion{
    position: relative;
    transform: translate(12%, 25%);
   }
   .img-proyecto{
    width: 550px!important;
    height: 400px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .img-proyecto:hover {
    box-shadow: 0 0 10px 2px #ffbc1b;
    transform: scale(1.03); 
}
  .contenido-proyecto-reixel{
    display: flex;
    flex-direction: row;
    width: 104%;
    margin-bottom: -40px!important;
  }
  .contenido-proyecto-anime{
    display: flex;
    flex-direction: row;
    width: 104%;
    margin-bottom: -40px!important;
  }
  .contenido-proyecto-minijuego{
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    width: 104%;
    margin-bottom: -40px!important;
  }
  .titulos-proyectos{
    position: relative;
    transform: translate(0%, 30%);
    padding-bottom: 30px;
  }
  .etiquetas-proyecto{
    width: 450px;
    position: relative;
    transform: translate(-125%, 540%);
  }
  .etiquetas-proyecto-anime{
    width: 450px;
    position: relative;
    transform: translate(-125%, 540%);
  }
  .etiquetas-proyecto-minijuego{
    width: 450px;
    position: relative;
    transform: translate(-125%, 540%);
  }
  .texto-proyectos{
    height: 450px;
    position: relative;
    transform: translate(0%, -20%);
  }
  .enlaces-proyecto-reixel{
    position: relative;
    transform: translate(50%, -450%);
  }
  .enlaces-proyecto-anime{
    position: relative;
    transform: translate(50%, -90%);
  }
  .enlaces-proyecto-minijuego{
    position: relative;
    transform: translate(50%, -630%);
  }
  .todo-menos-foto{
    margin-left: 20px;
  }
  .foto-sobre-mi img{
    margin-top: 20px!important;
    margin-left: 30px;
    width: 250px!important; 
  }
  .contenido-sobre-mi{
    display: flex;
    flex-direction: row-reverse;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}